{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des produits</h1>

	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">Nom</th>
		  <th scope="col">Prix</th>
		  <th scope="col">Actions</th>
		</tr>
	  </thead>
	  <tbody>
		{% for product in products %}
			<tr>
			  <td>{{ product.name | capitalize }}</td>
			  <td>{{ product.price }}</td>
			  <td>
				<a href="{{ path('app_product_show', { id : product.id }) }}" class="btn btn-outline-info" >Détail</a>
                {% if is_granted('ROLE_VENDEUR') %}
                    <a href="{{ path('app_product_update', {id:product.id}) }}" class="btn btn-outline-warning">Modifier</a>
                    <a href="{{ path('app_product_remove', {id:product.id}) }}" class="btn btn-outline-danger">Supprimer</a>
                {% endif %}
			  </td>
			</tr>
        {% endfor %}
	  </tbody>
	</table>
	
{% endblock %}




















